body {
    background-image: url("images/hintergrund.png");
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
}

.r4 {
    width: 100%;
    height: 50%;
}

img {
    height: auto;
    width: auto;
    max-width: 25%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid lightskyblue;
}

.Titel {
    text-align: center;
    font-size: 2.5em;
    color: violet;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: blue;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.125px;
}

.Text {
    text-align: center;
    font-size: 2em;
    color: violet;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: blue;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.125px;
}

a {
    text-align: center;
    font-size: 1.25em;
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: violet;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.125px;
}

footer {
    text-align: center;
    font-size: 2.5em;
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: violet;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.125px;
}
